[Unit]
Description=ProjectDescription

[Service]
Environment="LD_LIBRARY_PATH=/usr/lib/OpcUaStack:${LD_LIBRARY_PATH}"
ExecStart=/usr/bin/OpcUaServer ProjectName
Restart=on-failure

[Install]
WantedBy=multi-user.target
