/*
   Copyright 2017 Kai Huebl (kai@huebl-sgh.de)

   Lizenziert gemäß Apache Licence Version 2.0 (die „Lizenz“); Nutzung dieser
   Datei nur in Übereinstimmung mit der Lizenz erlaubt.
   Eine Kopie der Lizenz erhalten Sie auf http://www.apache.org/licenses/LICENSE-2.0.

   Sofern nicht gemäß geltendem Recht vorgeschrieben oder schriftlich vereinbart,
   erfolgt die Bereitstellung der im Rahmen der Lizenz verbreiteten Software OHNE
   GEWÄHR ODER VORBEHALTE – ganz gleich, ob ausdrücklich oder stillschweigend.

   Informationen über die jeweiligen Bedingungen für Genehmigungen und Einschränkungen
   im Rahmen der Lizenz finden Sie in der Lizenz.

   Autor: Kai Huebl (kai@huebl-sgh.de)
 */

#include "@NamespaceName@/@Folder@/@ClassName@.h"

namespace @NamespaceName@
{

	@ClassName@::@ClassName@(void)
	: Object()
	, ExtensionObjectBase()
@ValuesInit@
	{
	}

	@ClassName@::~@ClassName@(void)
	{
	}

	ExtensionObjectBase::SPtr
	@ClassName@::factory(void)
	{
		@ClassName@::SPtr @className@ = constructSPtr<@ClassName@>();
		return @className@;
	}

	OpcUaNodeId
	@ClassName@::binaryTypeId(void)
	{
		return OpcUaNodeId(2041);
	}

	OpcUaNodeId
	@ClassName@::xmlTypeId(void)
	{
		return OpcUaNodeId("Unknown-Type-Id");
	}

	void
	@ClassName@::opcUaBinaryEncode(std::ostream& os) const
	{
		eventId_.opcUaBinaryEncode(os);
		eventType_.opcUaBinaryEncode(os);
		sourceNode_.opcUaBinaryEncode(os);
		sourceName_.opcUaBinaryEncode(os);
		time_.opcUaBinaryEncode(os);
		receiveTime_.opcUaBinaryEncode(os);
		//localTime_.opcUaBinaryEncode(os);
		message_.opcUaBinaryEncode(os);
		OpcUaNumber::opcUaBinaryEncode(os, severity_);
	}

	void
	@ClassName@::opcUaBinaryDecode(std::istream& is)
	{
		eventId_.opcUaBinaryDecode(is);
		eventType_.opcUaBinaryDecode(is);
		sourceNode_.opcUaBinaryDecode(is);
		sourceName_.opcUaBinaryDecode(is);
		time_.opcUaBinaryDecode(is);
		receiveTime_.opcUaBinaryDecode(is);
		//localTime_.opcUaBinaryDecode(is);
		message_.opcUaBinaryDecode(is);
		OpcUaNumber::opcUaBinaryDecode(is, severity_);
	}

	bool
	@ClassName@::encode(boost::property_tree::ptree& pt, Xmlns& xmlns) const
	{
		return false;
	}

	bool
	@ClassName@::decode(boost::property_tree::ptree& pt, Xmlns& xmlns)
	{
		return false;
	}

	void
	@ClassName@::copyTo(ExtensionObjectBase& extensionObjectBase)
	{
		@ClassName@* dst = dynamic_cast<@ClassName@*>(&extensionObjectBase);
		copyTo(*dst);
	}

	bool
	@ClassName@::equal(ExtensionObjectBase& extensionObjectBase) const
	{
		@ClassName@* dst = dynamic_cast<@ClassName@*>(&extensionObjectBase);
		return *this == *dst;
	}

	void
	@ClassName@::out(std::ostream& os)
	{
		os << "EventId="; eventId_.out(os);
		os << ", EventType="; eventType_.out(os);
		os << ", SourceNode="; sourceNode_.out(os);
		os << ", SourceName="; sourceName_.out(os);
		os << ", Time="; time_.out(os);
		os << ", ReceiveTime="; receiveTime_.out(os);
		//os << ", LocalTime="; localTime_.opcUaBinaryDecode(os);
		os << ", Message="; message_.out(os);
		os << ", Severity=" << severity_;
	}

	void
	@ClassName@::copyTo(@ClassName@& @className@)
	{
		eventId_.copyTo(@className@.eventId_);
		eventType_.copyTo(@className@.eventType_);
		sourceNode_.copyTo(@className@.sourceNode_);
		sourceName_.copyTo(@className@.sourceName_);
		time_.copyTo(@className@.time_);
		receiveTime_.copyTo(@className@.receiveTime_);
		// localTime_.copyTo(*@className@.localTime_);
		message_.copyTo(@className@.message_);
		@className@.severity_ = severity_;

	}

	bool
	@ClassName@::operator==(const @ClassName@& @className@) const
	{
		@ClassName@* ptr = const_cast<@ClassName@*>(&@className@);
		bool rc = true;

		rc &= (eventId_ == ptr->eventId_);
		rc &= (eventType_ == ptr->eventType_);
		rc &= (sourceNode_ == ptr->sourceNode_);
		rc &= (time_ == ptr->time_);
		rc &= (receiveTime_ == ptr->receiveTime_);
		// rc &= (*localTime_ == ptr->localTime_);
		rc &= (message_ == ptr->message_);
		rc &= (severity_ == ptr->severity_);

		return rc;
	}

}


